@import "tailwindcss";

@theme {
  /* Brand Colors (Violet) */
  --color-brand-50: #f5f3ff;
  --color-brand-100: #ede9fe;
  --color-brand-200: #ddd6fe;
  --color-brand-300: #c4b5fd;
  --color-brand-400: #a78bfa;
  --color-brand-500: #8b5cf6;
  --color-brand-600: #7c3aed;
  --color-brand-700: #6d28d9;
  --color-brand-800: #5b21b6;
  --color-brand-900: #4c1d95;
  --color-brand-950: #2e1065;

  /* Accent Colors (Fuchsia) */
  --color-accent-500: #d946ef;
  --color-accent-600: #c026d3;
}

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-gray-50 text-gray-900;
  }
}

/* Custom scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f5f3ff;
  /* brand-50 */
}

::-webkit-scrollbar-thumb {
  background: #c4b5fd;
  /* brand-300 */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #753aff;
  /* brand-500 */
}